button{
    background-color:rgb(23, 23, 255);
    color:white;
    border:none;
    border-radius: 15px;
    padding:5px 15px;
    margin:0 5px;
}
button:hover{
    background-color:rgb(63, 63, 247);
}