@import './src/palette.scss';
:host{
  margin-right:50px;
  max-height:87%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menue-link{
  text-decoration: none;
  font-size: 15px;
 padding:7px 15px;
  display: block;
  color: black;
  cursor: pointer;
  &:hover{
    color:white;
    background-color: $primary-red;
   }
 }
