:host{
  margin-right:50px;
}
.menue-link{
  text-decoration: none;
  font-size: 15px;
  margin-bottom:5px;
  margin-left: 15px;
  display: block;
  color: black;
  cursor: pointer;
 }
 .menue-link:hover{
  color:blue;
 }