<section class="example-container mat-elevation-z8 w-100" tabindex="0" >
  <button type="button" [routerLink]="['create']" class="btn btn-success m-2 float-r">+ New</button> 
  <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">N</th>
            <th scope="col">Title</th>
            <!-- if categories have a parent category-->
            <th *ngIf="categoryType==='one_level_sub_categories'||categoryType==='two_level_sub_categories'" scope="col">Parent Category</th>
            <th scope="col">Create Date</th>
            <th scope="col">Update Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of data let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{category.attributes.title}}</td>
            <!-- render parent category -->
            <td *ngIf="categoryType==='one_level_sub_categories'">{{category.attributes.main_categories?.data[0]?.attributes.title}}</td>
            <!-- render parent category -->
            <td *ngIf="categoryType==='two_level_sub_categories'">{{category.attributes.one_level_sub_categories?.data[0]?.attributes.title}}</td>
            <td>{{category.attributes.createdAt|date:'MMM d,y'}}</td>
            <td>{{category.attributes.updatedAt|date:'MMM d, y'}}</td>
            <td>
                <app-btn-edit [routerLink]="['edit',category.id]"></app-btn-edit>
                <app-btn-delete (click)="delete(category.id)" ></app-btn-delete>              
            </td>

          </tr>

        </tbody>
      </table>
  </section>

