<section>
     <div class=" btns-container ">
        <a [routerLink]="['/contentManager/categoryManager','main_categories']"  routerLinkActive="active-link"  type="button" class="btn btn-light m-2 " >main categories items</a>
        <a  [routerLink]="['/contentManager/categoryManager','one_level_sub_categories']" routerLinkActive="active-link" type="button" class="btn btn-light m-2">one level sub categories items</a>
        <a [routerLink]="['/contentManager/categoryManager','two_level_sub_categories']" routerLinkActive="active-link" type="button" class="btn btn-light m-2">two level sub categories items</a>
        <button type="button" class="btn btn-success m-2">+ Add Category</button>      
    </div>
    <app-table [data]="data"></app-table>
    <router-outlet> </router-outlet>
   
  </section>
