<section>
     <div class="btns-container">
        <a [routerLink]="['main-category']"  [queryParams]="{search:''}"  routerLinkActive="active-link"  type="button" class="btn btn-light m-2 " >main categories items</a>
        <a  [routerLink]="['one-level-sub-category']" [queryParams]="{search:''}"  routerLinkActive="active-link" type="button" class="btn btn-light m-2">one level sub categories items</a>
        <a [routerLink]="['two-level-sub-category']"  [queryParams]="{search:''}" routerLinkActive="active-link" type="button" class="btn btn-light m-2">two level sub categories items</a>
        <!-- <button type="button" [routerLink]="['create']" class="btn btn-success m-2">+ New</button>       -->
    </div>   
    
    <router-outlet></router-outlet> 
</section>
