<header>
  <div class="upper">
    <div class="left">
      <div class="logo">
        <img routerLink="" src="assets/logo.png" width="150" alt="">
      </div>
    <div class="search" >
      <input type="search" [(ngModel)]="search" name="" id="" placeholder="ძიება...">
      <button class="btn-submit" type="submit"> <mat-icon class="icon search-icon">search</mat-icon> </button>
    </div>    
  </div>
  <div class="right">    
    <ng-container *ngIf="user|async as user; else elseBlock">
      <mat-icon [routerLink]="['cart']" class="cart-icon" [matBadge]="cartCount"  matBadgeColor="warn">shopping_cart</mat-icon> 
      <div class="ms-5 d-flex align-items-center">

        <ng-container *ngIf="profilUrl|async as profilUrl; else defulteImage">
          <img src={{apiHost}}{{profilUrl}} alt="mdo" width="32" height="32" class="rounded-circle">
        </ng-container>
        <ng-template #defulteImage>         
          <img src='https://material.angular.io/assets/img/examples/shiba1.jpg' alt="mdo" width="32" height="32" class="rounded-circle">
        </ng-template>
        <span class="ms-2">{{user.email}} </span>
        <a class="auth ms-2 me-0"  (click)="signOut()">Sign Out</a>
      </div>
    </ng-container>   
    
    <ng-template #elseBlock>
      <a class="auth" [routerLink]="['auth/signIn']">Sign In</a>
      <a  class="auth" [routerLink]="['auth/signUp']">Sign Up</a>
    </ng-template> 
         
    </div>
  </div>   
  <div class="lower" #lowerHeader>  
   <ng-container *ngFor="let category of mainCategoryService.entries$|async ">
    <div class="link-item" [ngStyle]="{'width':width+'%'}">
      <a class="nav-link" >
        {{category.attributes.title}}
      </a>   
      <div class="hoverlinks">
        <app-one-level-sub-categories-link [mainCategoryId]="category.id" ></app-one-level-sub-categories-link>
      </div>     
   </div>
   </ng-container>
   <ng-container *ngIf="authservice.role$|async as role " > 
    <div class="link-item" [ngStyle]="{'width':width+'%'}">
      <a *ngIf="role==='admin'" class="nav-link" >
       Content Manager
      </a>      
       <div class="hoverlinks">
         <a class="menue-link" [routerLink]="['content-manager/category-manager','main_categories']">Category Manager</a>
         <a class="menue-link" [routerLink]="['content-manager/product-manager']" [queryParams]="{page:1,pageSize:10}"> Product-manager</a>
       </div> 
    </div>
   </ng-container>
  </div> 
</header>

